 <div class="cardContainer d-flex p-3 justify-content-center">
        <div class="card m-2 align-self-start" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Mom</h5>
              <h6 class="card-title">Ideas:</h5>
                <ul style="list-style-type: none;">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>
              <button type="button" id="loginButton" style="width: 75px" class="mt-2 mb-2 p-3 btn btn-light btn-outline-dark btn-sm rounded-pill">Edit</button>
            </div>
        </div>
</div>