 :root{
    --white: #f6f1eb;
    --green: #6a8255;
    --grey: #d7e2d7;
    --lightgrey: #b5ccbe;
    --brown: #574539;
}

body{
    font-family: 'Roboto', sans-serif;
    background: black;
    height: 1000px;
}

#titleHeader{
    background-color: var(--brown);
    color: var(--white);
}

#loginButton:hover,
#darkModeButton:hover{
    background-color: grey;
}

.lightMode{
    background: white
}

.snow-bg {
    position: relative;
    max-height: fit-content;
 }
 
.snow-bg:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: url('https://library.elementor.com/resources/christmas-snow-effect/s1.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s2.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s3.png');
     animation: snow 10s linear infinite;
}
 
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@media screen and (max-width: 768px) {
    .cardContainer{
        flex-wrap: wrap;
        max-width: 100%;  
        padding-bottom: 10px
    }
}
  
 
